@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    font-family: 'Acme', sans-serif;
}

.mainheading h1 {
    padding: 20px 20px 0px 20px;
}

.textdisplay {
    font-size: 16px;
    padding: 20px 0;
}

.main__block {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.inner_block {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    justify-content: space-around;

}

.content {
    text-align: center;
    margin: 0 auto;
}

.buttons {
    display: flex;
}

.button_cat {
    text-align: center;
    margin: 0 auto;
}


.inner_block img {
    width: 24%;
    margin: 20px;
    box-shadow: 10px 10px 10px 10px #00000078;

}

.maindiv {

    display: flex;
    text-align: center;
    margin: 0 auto;
}

.rps {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

#output1 {
    padding: 10px 0;
    text-align: center;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.inner_rps {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px 0;
}

.maindiv {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.maindiv img {
    margin: 10px;
}

#button_back button {
    background-color: antiquewhite;
    text-align: center;
    border: 0px;
    border-radius: 20px;
    padding: 0px 15px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px #777689;
}

#button_back h5 {
    margin: 0;
}



@media screen and (max-width:800px) {
    .mainheading h1 {
        padding: 20px 0px 0px 0px;
        font-size: 22px;
    }

    .maindiv img {
        width: 150px;
    }

    .inner_rps img {
        width: 150px;
    }

    .inner_rps {

        padding: 1px 0;
    }

}
